*
{
	
}

.entry
{
	display:  inline-block;
	float: left;
	width:  100%;
}

#username
{
	display:  inline-block;
}

h1
{
	text-align: center;
	display: inline;
}

h3
{
	display: inline-block;
}

p
{
	display: inline-block;
}